@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;700&family=Source+Code+Pro:wght@300;400;500;700;900&display=swap");

.resumeSection {
}

.resumeSection .resumeContainer {
  position: relative;
}

.resumeSection .resumeTitle {
  font-family: "Roboto", sans-serif;
}

.resumeSection .resumeTitle h1 {
  font-family: "Lemonada", cursive;
}

/*--------------------------------------------------------------------------------*/

.resumeSection .resumeRowSkillsLine {
  display: inline-grid;
}

.resumeSection .resumeSkillLine {
  display: inline-grid;
  grid-template-columns: 10% 20% 60% 10%;
  background-image: linear-gradient(#a3a2a2, #646464, #292828);
  overflow: hidden;
}

.resumeSection .resumeSkillLineIcon {
}

.resumeSection .resumeSkillLineIcon img {
}

.resumeSection .resumeSkillLineText {
  text-align: center;
}

.resumeSection .resumeSkillLineText h5 {
}

.resumeSection .resumeSkillLineBar {
}

.resumeSection .resumeSkillLineBarBackground {
  background-image: linear-gradient(to bottom, #a3a3a3, #000000);
}

.resumeSection .resumeSkillLineBarPercent {
}

.resumeSection .resumeSkill_css {
  background-image: linear-gradient(to bottom, #0277be, #049be5);
  width: 80%;
}

.resumeSection .resumeSkill_html {
  background-image: linear-gradient(to bottom, #b44001, #ff6d00);
  width: 80%;
}

.resumeSection .resumeSkill_react {
  background-image: linear-gradient(to bottom, #2592e9, #fbf2d8);
  width: 80%;
}

.resumeSection .resumeSkill_javascript {
  background-image: linear-gradient(to bottom, #040404, #dcb404);
  width: 80%;
}

.resumeSection .resumeSkill_nodejs {
  background-image: linear-gradient(to bottom, #4bab53, #304450);
  width: 80%;
}

.resumeSection .resumeSkill_php {
  background-image: linear-gradient(to bottom, #dbd3f3, #544d5c);
  width: 80%;
}

.resumeSection .resumeSkill_flask {
  background-image: linear-gradient(to bottom, #e0e0e0, #34343c);
  width: 80%;
}

/*--------------------------------------------------------------------------------*/

.resumeSection .resumeRowSkillsCircle {
  display: flex;
}

.resumeSection .resumeSkillsCircle {
  justify-content: left;
  align-items: left;
}

.resumeSection .resumeSkillCircleCard {
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.resumeSection .resumeSkillCircleCard:before {
  content: "";
  position: absolute;
  background: rgba(255, 255, 255, 0.03);

  width: 100%;
  height: 100%;
}

.resumeSection .resumeSkillCircleCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rbga(0, 0, 0, 0.5);
}

.resumeSection .resumeSkillCircleBox {
  position: absolute;
}

.resumeSection .resumeSkillCirclePercent {
}

.resumeSection .resumeSkillCirclePercentText {
  position: absolute;
}

.resumeSection .resumeSkillCirclePercentText h2 {
  color: rgb(170, 162, 162);
}

.resumeSection .resumeSkillCirclePercent svg {
  position: relative;
}

.resumeSection svg circle {
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}
.resumeSection svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}
.resumeSection .resumeSkillCircleCard:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: 44;
  stroke: rgb(249, 252, 83);
}

.resumeSection .resumeSkillCircleCard:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: 88;
  stroke: #fc3636;
}

.resumeSection .resumeSkillCircleCard:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: 132;
  stroke: #5b8dfa;
}
.resumeSection .resumeSkillCircleCardContent h2 {
  color: rgb(170, 162, 162);
}

.resumeSection .resumeSkillCircleCardContent img {
}

/*--------------------------------------------------------------------------------*/

.resumeSection .resumeExtraSkills {
}
.resumeSection .resumeHex {
  position: absolute;
  background-color: rgb(122, 120, 120);
}

.resumeSection .resumeExtraSkillImage {
  position: absolute;
  z-index: 2;
}
.resumeSection .resumeExtraSkillText {
  position: absolute;
  z-index: 3;
}
.resumeSection .resumeHex h5 {
  font-family: "Source Code Pro", monospace;
  color: black;
}
.resumeSection .resumeHex img {
  transition: 0.5s;
}

.resumeHexagon {
  position: absolute;
  background-color: #64c7cc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  /*100
  width: 100px;
  height: 57.74px;
  margin: 28.87px 0;*/
  width: 150px;
  height: 86.6px;
  margin: 43.3px 0;
  /*200
  width: 200px;
  height: 115.47px;
  margin: 57.74px 0;*/
}

.resumeHexagon:before,
.resumeHexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  /*100
  width: 70.71px;
  height: 70.71px;
  left: 14.6447px;*/
  width: 106.07px;
  height: 106.07px;
  left: 21.967px;
  /*200
  width: 141.42px;
  height: 141.42px;
  left: 29.2893px;*/
}

.resumeHexagon:before {
  /*100
  top: -35.3553px;*/
  top: -53.033px;
  /*200
  top: -70.7107px;*/
}

.resumeHexagon:after {
  /*100
  bottom: -35.3553px;*/
  bottom: -53.033px;
  /*200
  bottom: -70.7107px;*/
}

/*cover up extra shadows*/
.resumeHexagon span {
  display: block;
  position: absolute;
  z-index: 2;
  background: inherit;
  top: 0px;
  left: 0;
  /*100
  width: 100px;
  height: 57.735px;*/
  width: 150px;
  height: 86.6025px;
  /*200
  width: 200px;
  height: 115.4701px;*/
}

@media only screen and (min-width: 1420px) {
  .resumeSection {
    margin-top: 100px;
  }

  .resumeSection .resumeContainer {
    top: 30px;
  }

  .resumeSection .resumeTitle h1 {
    font-weight: 700;
    font-size: 30px;
  }

  /*--------------------------------------------------------------------------------*/

  .resumeSection .resumeRowSkillsLine {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-bottom: 30px;
  }

  .resumeSection .resumeSkillLine {
    display: inline-grid;
    grid-template-columns: 10% 20% 60% 10%;
    background-image: linear-gradient(#a3a2a2, #646464, #292828);
    overflow: hidden;

    height: 50px;
    width: 95%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .resumeSection .resumeSkillLineIcon img {
    margin-left: 5px;
    width: 48px;
    height: 48px;
  }

  .resumeSection .resumeSkillLineText {
    margin-top: 15px;
  }

  .resumeSection .resumeSkillLineBar {
    margin-top: 5px;
  }

  .resumeSection .resumeSkillLineBarBackground {
    border-radius: 10px;
    margin-top: 12px;
    padding: 0;
    height: 20px;
    width: 100%;
  }

  .resumeSection .resumeSkillLineBarPercent {
    border-radius: 10px;
    padding: 0;
    height: 20px;
  }

  /*--------------------------------------------------------------------------------*/

  .resumeSection .resumeSkillCircleCard {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-right: 30px;
  }

  .resumeSection .resumeSkillCircleCard:before {
    width: 100%;
    height: 100%;
  }

  .resumeSection .resumeSkillCirclePercentText {
    top: 45px;
    left: 25px;
  }

  .resumeSection .resumeSkillCirclePercentText h2 {
    font-size: 50px;
  }

  .resumeSection .resumeSkillCirclePercent svg {
    width: 150px;
  }

  .resumeSection .resumeSkillCircleCardContent h2 {
    margin-top: 5px;
  }

  .resumeSection .resumeSkillCircleCardContent img {
    width: 64px;
    height: 64px;
  }

  /*--------------------------------------------------------------------------------*/

  .resumeSection .resumeExtraSkills {
    padding-bottom: 30px;
  }
  .resumeSection .resumeHex h5 {
    font-weight: 300;
    font-size: 25px;
  }
  .resumeSection .resumeHex img {
    width: 80px;
    height: 80px;
    left: 25px;
    transition: 0.5s;
  }

  .resumeHexagon {
    /*100
    width: 100px;
    height: 57.74px;
    margin: 28.87px 0;*/
    width: 150px;
    height: 86.6px;
    margin: 43.3px 0;
    /*200
    width: 200px;
    height: 115.47px;
    margin: 57.74px 0;*/
  }

  .resumeHexagon:before,
  .resumeHexagon:after {
    /*100
    width: 70.71px;
    height: 70.71px;
    left: 14.6447px;*/
    width: 106.07px;
    height: 106.07px;
    left: 21.967px;
    /*200
    width: 141.42px;
    height: 141.42px;
    left: 29.2893px;*/
  }

  .resumeHexagon:before {
    /*100
    top: -35.3553px;*/
    top: -53.033px;
    /*200
    top: -70.7107px;*/
  }

  .resumeHexagon:after {
    /*100
    bottom: -35.3553px;*/
    bottom: -53.033px;
    /*200
    bottom: -70.7107px;*/
  }

  /*cover up extra shadows*/
  .resumeHexagon span {
    /*100
    width: 100px;
    height: 57.735px;*/
    width: 150px;
    height: 86.6025px;
    /*200
    width: 200px;
    height: 115.4701px;*/
  }

  /* row 1 */
  .resumeSection .resumeExtraSkillImage_r1c1 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r1c1 {
    top: 110px;
    left: 15px;
  }

  .resumeSection .resumeHexagon_r1c2 {
    left: 155px;
  }
  .resumeSection .resumeExtraSkillImage_r1c2 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r1c2 {
    top: 110px;
    left: 20px;
  }

  .resumeSection .resumeHexagon_r1c3 {
    left: 310px;
  }
  .resumeSection .resumeExtraSkillImage_r1c3 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r1c3 {
    top: 110px;
    left: 48px;
  }

  /* row 2 */
  .resumeSection .resumeHexagon_r2c1 {
    top: 178px;
    left: 77px;
  }
  .resumeSection .resumeExtraSkillImage_r2c1 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r2c1 {
    top: 90px;
    left: 30px;
  }

  .resumeSection .resumeHexagon_r2c2 {
    top: 178px;
    left: 232px;
  }
  .resumeSection .resumeExtraSkillImage_r2c2 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r2c2 {
    top: 110px;
    left: 50px;
  }

  .resumeSection .resumeHexagon_r2c3 {
    top: 178px;
    left: 387px;
  }
  .resumeSection .resumeExtraSkillImage_r2c3 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r2c3 {
    top: 110px;
    left: 30px;
  }

  /* row 3 */
  .resumeSection .resumeHexagon_r3c4 {
    top: 312px;
    left: 465px;
  }
  .resumeSection .resumeExtraSkillImage_r3c4 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r3c4 {
    top: 110px;
    left: 38px;
  }
}

@media only screen and (max-width: 1420px) {
  .resumeSection {
    margin-top: 100px;
  }

  .resumeSection .resumeContainer {
    top: 30px;
  }

  .resumeSection .resumeTitle h1 {
    font-weight: 700;
    font-size: 30px;
  }

  /*--------------------------------------------------------------------------------*/

  .resumeSection .resumeRowSkillsLine {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-bottom: 30px;
  }

  .resumeSection .resumeSkillLine {
    display: inline-grid;
    grid-template-columns: 10% 20% 60% 10%;
    background-image: linear-gradient(#a3a2a2, #646464, #292828);
    overflow: hidden;

    height: 50px;
    width: 95%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .resumeSection .resumeSkillLineIcon img {
    margin-left: 5px;
    width: 48px;
    height: 48px;
  }

  .resumeSection .resumeSkillLineText {
    margin-top: 15px;
  }

  .resumeSection .resumeSkillLineBar {
    margin-top: 5px;
  }

  .resumeSection .resumeSkillLineBarBackground {
    border-radius: 10px;
    margin-top: 12px;
    padding: 0;
    height: 20px;
    width: 100%;
  }

  .resumeSection .resumeSkillLineBarPercent {
    border-radius: 10px;
    padding: 0;
    height: 20px;
  }

  /*--------------------------------------------------------------------------------*/

  .resumeSection .resumeSkillCircleCard {
    width: 300px;
    height: 300px;
    border-radius: 15px;
    margin-right: 30px;
  }

  .resumeSection .resumeSkillCircleCard:before {
    width: 100%;
    height: 100%;
  }

  .resumeSection .resumeSkillCirclePercentText {
    top: 45px;
    left: 25px;
  }

  .resumeSection .resumeSkillCirclePercentText h2 {
    font-size: 50px;
  }

  .resumeSection .resumeSkillCirclePercent svg {
    width: 150px;
  }

  .resumeSection .resumeSkillCircleCardContent h2 {
    margin-top: 5px;
  }

  .resumeSection .resumeSkillCircleCardContent img {
    width: 64px;
    height: 64px;
  }

  /*--------------------------------------------------------------------------------*/

  .resumeSection .resumeExtraSkills {
    padding-bottom: 30px;
  }
  .resumeSection .resumeHex h5 {
    font-weight: 300;
    font-size: 25px;
  }
  .resumeSection .resumeHex img {
    width: 80px;
    height: 80px;
    left: 25px;
    transition: 0.5s;
  }

  .resumeHexagon {
    /*100
    width: 100px;
    height: 57.74px;
    margin: 28.87px 0;*/
    width: 150px;
    height: 86.6px;
    margin: 43.3px 0;
    /*200
    width: 200px;
    height: 115.47px;
    margin: 57.74px 0;*/
  }

  .resumeHexagon:before,
  .resumeHexagon:after {
    /*100
    width: 70.71px;
    height: 70.71px;
    left: 14.6447px;*/
    width: 106.07px;
    height: 106.07px;
    left: 21.967px;
    /*200
    width: 141.42px;
    height: 141.42px;
    left: 29.2893px;*/
  }

  .resumeHexagon:before {
    /*100
    top: -35.3553px;*/
    top: -53.033px;
    /*200
    top: -70.7107px;*/
  }

  .resumeHexagon:after {
    /*100
    bottom: -35.3553px;*/
    bottom: -53.033px;
    /*200
    bottom: -70.7107px;*/
  }

  /*cover up extra shadows*/
  .resumeHexagon span {
    /*100
    width: 100px;
    height: 57.735px;*/
    width: 150px;
    height: 86.6025px;
    /*200
    width: 200px;
    height: 115.4701px;*/
  }

  /* row 1 */
  .resumeSection .resumeExtraSkillImage_r1c1 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r1c1 {
    top: 110px;
    left: 15px;
  }

  .resumeSection .resumeHexagon_r1c2 {
    left: 155px;
  }
  .resumeSection .resumeExtraSkillImage_r1c2 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r1c2 {
    top: 110px;
    left: 20px;
  }

  .resumeSection .resumeHexagon_r1c3 {
    left: 310px;
  }
  .resumeSection .resumeExtraSkillImage_r1c3 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r1c3 {
    top: 110px;
    left: 48px;
  }

  /* row 2 */
  .resumeSection .resumeHexagon_r2c1 {
    top: 178px;
    left: 77px;
  }
  .resumeSection .resumeExtraSkillImage_r2c1 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r2c1 {
    top: 90px;
    left: 30px;
  }

  .resumeSection .resumeHexagon_r2c2 {
    top: 178px;
    left: 232px;
  }
  .resumeSection .resumeExtraSkillImage_r2c2 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r2c2 {
    top: 110px;
    left: 50px;
  }

  .resumeSection .resumeHexagon_r2c3 {
    top: 178px;
    left: 387px;
  }
  .resumeSection .resumeExtraSkillImage_r2c3 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r2c3 {
    top: 110px;
    left: 30px;
  }

  /* row 3 */
  .resumeSection .resumeHexagon_r3c4 {
    top: 312px;
    left: 465px;
  }
  .resumeSection .resumeExtraSkillImage_r3c4 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r3c4 {
    top: 110px;
    left: 38px;
  }
}

@media only screen and (max-width: 1000px) {
  .resumeSection {
    margin-top: 100px;
  }

  .resumeSection .resumeContainer {
    top: 30px;
  }

  .resumeSection .resumeTitle h1 {
    font-weight: 700;
    font-size: 25px;
  }

  /*--------------------------------------------------------------------------------*/

  .resumeSection .resumeRowSkillsLine {
    display: inline-grid;
    grid-template-columns: 100%;
    width: 100%;
    margin-bottom: 30px;
  }

  .resumeSection .resumeSkillLine {
    display: inline-grid;
    grid-template-columns: 10% 20% 60% 10%;
    background-image: linear-gradient(#a3a2a2, #646464, #292828);
    overflow: hidden;

    height: 50px;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .resumeSection .resumeSkillLineIcon img {
    margin-left: 5px;
    width: 48px;
    height: 48px;
  }

  .resumeSection .resumeSkillLineText {
    margin-top: 15px;
  }
  .resumeSection .resumeSkillLineText h5 {
    font-size: 16px;
  }

  .resumeSection .resumeSkillLineBar {
    margin-top: 5px;
  }

  .resumeSection .resumeSkillLineBarBackground {
    border-radius: 10px;
    margin-top: 12px;
    padding: 0;
    height: 20px;
    width: 100%;
  }

  .resumeSection .resumeSkillLineBarPercent {
    border-radius: 10px;
    padding: 0;
    height: 20px;
  }

  /*--------------------------------------------------------------------------------*/
  .resumeSection .resumeRowSkillsCircle {
    display: inline-grid;
    grid-template-columns: 50% 50%;
  }
  .resumeSection .resumeSkillCircleCard {
    width: 200px;
    height: 250px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .resumeSection .resumeSkillCircleCard:before {
    width: 100%;
    height: 100%;
  }

  .resumeSection .resumeSkillCirclePercentText {
    top: 45px;
    left: 25px;
  }

  .resumeSection .resumeSkillCirclePercentText h2 {
    font-size: 40px;
  }

  .resumeSection .resumeSkillCirclePercent svg {
    width: 150px;
  }

  .resumeSection .resumeSkillCircleCardContent h2 {
    margin-top: 5px;
    font-size: 20px;
  }

  .resumeSection .resumeSkillCircleCardContent img {
    width: 32px;
    height: 32px;
  }

  /*--------------------------------------------------------------------------------*/

  .resumeSection .resumeExtraSkills {
    padding-bottom: 80px;
  }
  .resumeSection .resumeHex h5 {
    font-weight: 300;
    font-size: 15px;
  }

  .resumeSection .resumeHex img {
    width: 64px;
    height: 64px;
    transition: 0.5s;
  }

  .resumeHexagon {
    left: 15px;
    /*100*/
    width: 100px;
    height: 57.74px;
    margin: 28.87px 0;
    /*150*/
    /*
    width: 150px;
    height: 86.6px;
    margin: 43.3px 0;
    /*200
    width: 200px;
    height: 115.47px;
    margin: 57.74px 0;*/
  }

  .resumeHexagon:before,
  .resumeHexagon:after {
    width: 70.71px;
    height: 70.71px;
    left: 14.6447px;
    /*width: 106.07px;
    height: 106.07px;
    left: 21.967px;
    /*200
    width: 141.42px;
    height: 141.42px;
    left: 29.2893px;*/
  }

  .resumeHexagon:before {
    top: -35.3553px;
    /*top: -53.033px;
    /*200
    top: -70.7107px;*/
  }

  .resumeHexagon:after {
    bottom: -35.3553px;
    /*bottom: -53.033px;
    /*200
    bottom: -70.7107px;*/
  }

  /*cover up extra shadows*/
  .resumeHexagon span {
    width: 100px;
    height: 57.735px;
    /*
    width: 150px;
    height: 86.6025px;
    /*200
    width: 200px;
    height: 115.4701px;*/
  }

  /* row 1 */
  .resumeSection .resumeExtraSkillImage_r1c1 {
    top: 10px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r1c1 {
    top: 75px;
    left: 30px;
  }

  .resumeSection .resumeHexagon_r1c2 {
    left: 105px;
  }
  .resumeSection .resumeExtraSkillImage_r1c2 {
    top: 10px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r1c2 {
    top: 75px;
    left: 35px;
  }

  .resumeSection .resumeHexagon_r1c3 {
    left: 210px;
  }
  .resumeSection .resumeExtraSkillImage_r1c3 {
    top: 10px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r1c3 {
    top: 75px;
    left: 48px;
  }

  /* row 2 */
  .resumeSection .resumeHexagon_r2c1 {
    top: 128px;
    left: 53px;
  }
  .resumeSection .resumeExtraSkillImage_r2c1 {
    top: 10px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r2c1 {
    top: 68px;
    left: 43px;
  }

  .resumeSection .resumeHexagon_r2c2 {
    top: 128px;
    left: 158px;
  }
  .resumeSection .resumeExtraSkillImage_r2c2 {
    top: 20px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r2c2 {
    top: 78px;
    left: 50px;
  }

  .resumeSection .resumeHexagon_r2c3 {
    top: 128px;
    left: 263px;
  }
  .resumeSection .resumeExtraSkillImage_r2c3 {
    top: 15px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r2c3 {
    top: 78px;
    left: 40px;
  }

  /* row 3 */
  .resumeSection .resumeHexagon_r3c4 {
    top: 218px;
    left: 315px;
  }
  .resumeSection .resumeExtraSkillImage_r3c4 {
    top: 10px;
    left: 33px;
  }
  .resumeSection .resumeExtraSkillText_r3c4 {
    top: 75px;
    left: 45px;
  }
}
