@import url("https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700,800,900&display=swap");

.homeNavMobile {
  display: none;
}
.homeNav .homeNav-direct {
  position: absolute;
  background-color: rgb(58, 57, 57);
  cursor: pointer;
  width: 10%;
  height: 80px;
  top: 420px;
  right: 2.5%;
}
.homeNav .homeNav-direct img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(180deg);
  animation-name: arrowAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  width: 64px;
}
@keyframes arrowAnimation {
  0% {
    top: 0px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 0px;
  }
}

.homeNav .homeNav {
  cursor: pointer;
  position: absolute;
  background-color: rgb(58, 57, 57);
  overflow: auto;
  width: 10%;
  top: 500px;
  right: 2.5%;
}

.homeNav .homeNavContainer {
  width: 100%;
}

.homeNav .homeNavContainer li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(253, 239, 239);
  font-family: Lobster;
  font-weight: 500;
  font-size: 25px;
  width: 100%;
  height: 80px;
}

.homeNav .homeNavContainer li:hover:not(.active) {
  color: rgb(248, 248, 248);
  background-color: #4caf50;
}

.homeNav .homeNavContainer .active {
  display: flex;
  flex-direction: row;
  align-items: center;

  text-decoration: none;
  animation-name: animationActive;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes animationActive {
  0% {
    background-color: rgb(103, 218, 253);
  }
  25% {
    background-color: rgb(55, 235, 248);
  }
  50% {
    background-color: rgb(22, 139, 155);
  }
  75% {
    background-color: rgb(55, 235, 248);
  }
  100% {
    background-color: rgb(103, 218, 253);
  }
}

.homeNav .homeScrolled {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  background-color: rgb(58, 57, 57);
  overflow: auto;
  cursor: pointer;
  z-index: 9;
  width: 10%;
  top: 20px;
  right: 2.5%;
}

@media only screen and (min-width: 1420px) {
  .homeNavMobile {
    display: none;
  }
  .homeNav .homeNav-direct {
    width: 10%;
    height: 80px;
    top: 420px;
    right: 2.5%;
  }
  .homeNav .homeNav-direct img {
    width: 64px;
  }

  .homeNav .homeNav {
    width: 10%;
    top: 500px;
    right: 2.5%;
  }

  .homeNav .homeNavContainer {
    width: 100%;
  }

  .homeNav .homeNavContainer li {
    font-weight: 500;
    font-size: 25px;
    width: 100%;
    height: 80px;
  }

  .homeNav .homeScrolled {
    z-index: 9;
    width: 10%;
    top: 20px;
    right: 2.5%;
  }
}

@media only screen and (max-width: 1420px) {
  .homeNavMobile {
    display: none;
  }
  .homeNav .homeNav-direct {
    width: 8%;
    height: 60px;
    top: 340px;
    right: 1%;
  }
  .homeNav .homeNav-direct img {
    width: 48px;
  }

  .homeNav .homeNav {
    width: 8%;
    top: 400px;
    right: 1%;
  }

  .homeNav .homeNavContainer {
    width: 100%;
  }

  .homeNav .homeNavContainer li {
    font-weight: 500;
    font-size: 20px;
    width: 100%;
    height: 60px;
  }

  .homeNav .homeScrolled {
    z-index: 9;
    width: 8%;
    top: 20px;
    right: 1%;
  }
}

@media only screen and (max-width: 1000px) {
  .homeNav {
    display: none;
  }

  .homeNavMobile {
    display: block;
  }
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 20px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #36ca99;
  }

  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 64px;
    width: 64px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #ffffff;
  }

  /*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0px;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding-top: 50px;
    font-size: 25px;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding-top: 50px;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    padding-bottom: 30px;
    font-family: Lobster;
    color: white;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
}
