@import url("https://fonts.googleapis.com/css?family=Lora");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.topcontainer * {
  font-family: "Lobster";
}

.topcontainer {
  display: block;
  position: relative;
  background-image: url("../../assets/images/background.png");
  background-size: auto;
  width: 100%;
}

.topcontainer .logo {
  position: absolute;
}

.topcontainer .infoBx {
  position: absolute;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
  text-align: left;
}

.topcontainer .infoBx h4 {
  color: #ffffff;
  letter-spacing: 1px;
}

.topcontainer .infoBx h1 {
  color: #ffffff;
  letter-spacing: 1px;
}

.topcontainer .picPort img {
  position: absolute;
  width: auto;
}

@media only screen and (min-width: 1420px) {
  .topcontainer {
    height: 500px;
  }

  .topcontainer .logo {
    top: 5px;
    left: 20%;
  }
  .topcontainer .logo img {
    width: 72px;
  }
  .topcontainer .infoBx {
    top: 80px;
    left: 15%;
    right: 15%;
    height: 400px;
  }

  .topcontainer .infoBx h4 {
    font-weight: 100px;
    font-size: 40px;
    margin: 45px;
  }

  .topcontainer .infoBx h1 {
    font-weight: 100px;
    font-size: 100px;
    margin-left: 50px;
  }

  .topcontainer .picPort img {
    height: 500px;
    right: 15%;
  }
}

@media only screen and (max-width: 1420px) {
  .topcontainer {
    height: 400px;
  }

  .topcontainer .logo {
    top: 5px;
    left: 15%;
  }
  .topcontainer .logo img {
    width: 64px;
  }
  .topcontainer .infoBx {
    top: 75px;
    left: 10%;
    right: 10%;
    height: 300px;
  }

  .topcontainer .infoBx h4 {
    font-weight: 100px;
    font-size: 30px;
    margin: 25px;
  }

  .topcontainer .infoBx h1 {
    font-weight: 100px;
    font-size: 100px;
    margin-left: 25px;
  }

  .topcontainer .picPort img {
    height: 400px;
    right: 10%;
  }
}

@media only screen and (max-width: 1000px) {
  .topcontainer {
    height: 300px;
  }

  .topcontainer .logo {
    top: 5px;
    left: 45%;
  }
  .topcontainer .logo img {
    width: 45px;
  }
  .topcontainer .infoBx {
    top: 55px;
    left: 5%;
    right: 5%;
    height: 230px;
    text-align: center;
  }

  .topcontainer .infoBx h4 {
    font-weight: 50px;
    font-size: 20px;
    margin: 25px;
  }

  .topcontainer .infoBx h1 {
    font-weight: 100px;
    font-size: 70px;
    margin-left: 25px;
  }

  .topcontainer .picPort img {
    height: 0px;
    right: 10%;
  }
}
