* {
  margin: 0;
  padding: 0;
  color: #ffffff;
}
body {
  background: #ffffff;
}

.homeContainer {
  position: relative;
  text-align: left;
}

.lineSection {
  position: absolute;
  background-image: linear-gradient(to bottom, red, rgb(0, 0, 0));
}

.lineSectionContent {
  position: relative;
}

.lineSectionContent h1 {
  font-weight: bold;
  color: black;
}

.lineSectionContent h5 {
  color: #696868;
}

@media only screen and (min-width: 1420px) {
  .homeContainer {
    width: 70%;
    left: 15%;
  }
  .lineSection {
    width: 5px;
    height: 85px;
  }

  .lineSectionContent {
    left: 2%;
  }

  .lineSectionContent h1 {
    font-size: 50px;
  }

  .lineSectionContent h5 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1420px) {
  .homeContainer {
    width: 80%;
    left: 10%;
  }

  .lineSection {
    width: 5px;
    height: 75px;
  }

  .lineSectionContent {
    left: 2%;
  }

  .lineSectionContent h1 {
    font-size: 40px;
  }

  .lineSectionContent h5 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .homeContainer {
    width: 90%;
    left: 5%;
  }

  .lineSection {
    width: 5px;
    height: 65px;
  }

  .lineSectionContent {
    left: 2%;
  }

  .lineSectionContent h1 {
    font-size: 40px;
  }

  .lineSectionContent h5 {
    font-size: 15px;
  }
}
