$font-stack: Helvetica, sans-serif;
$primary-color: white;

.navbar {
  background-image: linear-gradient(
    to right,
    #d95b1f,
    #b42b2d,
    #923755,
    #2c848a
  );
}

.navbar-brand {
  margin-left: 50px;
}

.navbar h3 {
  display: inline;
  position: relative;
  color: aliceblue;
  top: 5px;
  margin-left: 10px;
}

.nav-link {
  margin-left: 20px;
  color: white;
}
