@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro");
$font_color_timestamp: #b8b3b3;
$font_color_title: white;
$font_color_primary: black;
$font_code: "Source Code Pro", monospace;

$width_main: 1000px;
$content_margin_left: 20px;

.page {
  position: relative;
  background-color: black;
  padding-bottom: 50px;
  .pageContainer {
    width: $width_main;
    margin-left: 70px;
    margin-right: auto;
    margin-top: 50px;

    @media only screen and (max-width: $width_main) {
      width: 96%;
      margin-left: 2%;
      img {
        width: 100%;
      }
    }
    .header {
      display: block;
      position: relative;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
      padding-bottom: 30px;
      .title {
        width: 100%;
        font-weight: 700;
        font-size: 50px;
      }

      .tags {
        display: inline;
      }

      .timestamp {
        display: block;
        color: $font_color_timestamp;
        margin-top: 20px;
      }

      .author {
        display: inline;
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
  .pageContent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: white;
    padding: 50px;
    text-align: left;
    @media only screen and (max-width: $width_main) {
      padding: 2%;
    }
    h2,
    h5,
    p,
    strong,
    q,
    li,
    i {
      color: $font_color_primary;
    }
    h2 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    p {
    }
    q {
      display: block;
      font-weight: 600;
      font-family: $font_code;
      border-color: green;
      border-left-style: solid;
      margin-top: 10px;
      margin-bottom: 20px;
      margin-left: 20px;
      padding-left: 10px;
    }
    ul,
    ol {
      margin-left: 30px;
    }
    img {
      margin-bottom: 20px;
    }
  }
}
